/* CSS Document */
html {
  height: 100%;
 }
body {
  color: #777;
	font-family: 'Raleway', sans-serif;
  height: 100%;
  overflow-y: scroll;
  padding-top: 90px;
  position: relative;
}
section > *[id]:before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
}
a {
  color: #7f8fec;
  background-color: #fffeee;
  border: 3px;
  border-color: #eee;
}
a:hover {
	color: #fffeee;
  background-color: #7f8fec;
  text-decoration: none;
}
h5, h6 {
	font-family: 'Give You Glory', cursive;
}
.carousel-control.left, .carousel-control.right {
   color: #7f8fec;
   background-color: inherit;
   background-image: none;
   height: auto;
}
.btn-success {
  background-color: #10B395;
}
.btn-success:hover {
  background-color: #14E2BC;
  border-color: #14E2BC;
}
.fa-facebook-square {
    color: #3B5998;
}
.fa-google-plus-square, .fa-youtube-square {
    color: red;
}
.fa-whatsapp {
  color: #10B395;
}
iframe {
  border: 0;
  background-color: transparent;
  overflow: hidden;
}
iframe.briefing {
  height: 320px;
  width: 100%
}
.jumbotron {
  background-color: #fffeee;
  color: #777;
  -webkit-box-shadow: 0 3px 6px 0 #b0b0b0;
  -moz-box-shadow: 0 3px 6px 0 #b0b0b0;
  box-shadow: 0 3px 6px 0 #b0b0b0;
}
.livredor {
	font-family: 'Give You Glory', cursive;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 15px; /* Place the button at the bottom of the page */
    right: 15px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: grey; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 16px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
.navbar {
  -webkit-box-shadow: 0 3px 6px 0 #b0b0b0;
  -moz-box-shadow: 0 3px 6px 0 #b0b0b0;
  box-shadow: 0 3px 6px 0 #b0b0b0;
}
.navbar-default .navbar-brand {
    color: #666;
}
.navbar-default {
    font-size: 14px;
    background-color: #fffeee;
    border-bottom-width: 1px;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
    background-color: #fffeee;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #fffeee;
    background-color: rgba(158, 172, 251, 1);
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(238, 239, 255, 1);
    background-color: rgba(127, 143, 236, 1);
}
.navbar-default .navbar-toggle {
    border-color: #777;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #7f8fec;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #7f8fec;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fffeee;
}
.parallax1 {
    /* The image used: 1600x1200*/
    background-image: url("../media/Izana-4.jpg");

    /* Set a specific height */
    height: 640px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.tooltip {
  font-family: 'Raleway', sans-serif;
}
.tooltip .tooltip-inner {
  color: #ffffff;
  background-color: #777;
}
.tooltip.bottom .tooltip-arrow {
  border-top-color: #777;
}
.well {
  -webkit-box-shadow: 0 3px 6px 0 rgba(176,176,176,0.82);
  -moz-box-shadow: 0 3px 6px 0 rgba(176,176,176,0.82);
  box-shadow: 0 3px 6px 0 rgba(176,176,176,0.82);
  background-color: #fffeee;
}
#windfinder {
  max-width: 871px;
  max-height: 471px;
}
/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
   .parallax1,.parallax2 {
       background-attachment: scroll;
       background-position: center;
       background-repeat: no-repeat;
       background-size: contain;
       max-height: 320px;
       min-height: 240px;
   }
}
@media only screen and (min-width: 768px) and (max-width: 1332px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
